body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 1rem;
    margin: 0 auto;
    width: 350px;
    background-color: #fcfcfc;
}

.logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-return img {
    width: 15px;
    height: 15px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #fcfcfc;    
    cursor: pointer;     
    border: none;
    outline: none;
    font-size: 15px;    
}
  
  /* Style the collapsible content. Note: hidden by default */
.content-search {
    display: none;
    overflow: hidden;
    justify-content: right;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


input {
    width: 250px;
    font-size: 14px;
    padding: 10px;
    color: black;
    background: rgb(212, 212, 212);    
    background-image: url('../images/close.png');
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border: none;
    border-radius: 20px;
  }

input:focus {
    outline: none;
  }

.collapsible img {
    width: 18px;
    height: 18px;
}

h1 {    
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: bold;
    color: black;
    font-family: 'Wendy One', sans-serif;
    text-align: center;
}

.pokemons {
    width: 90%;
    margin: 0 auto;
}

.pokemon {        
    margin: .8rem .5rem;
    padding: .8rem;
    border-radius: 1rem;       
    box-shadow: 5px 5px 5px lightgrey;
    background-color: #fff;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.number {
    color: black;
    opacity: 0.3;    
    font-size: 1rem;
    display: block;
    margin-bottom: .5rem;
}

.name {    
    margin-bottom: .25rem;
    text-transform: capitalize;
    font-size: 2rem;
    display: block;
}

.detail {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.types {
    display: flex;
}

.type {    
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem .25rem 0 0;
    font-size: .825rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;   
}

img {
    width: 100%;
    height: 100px;        
}

.showing {
    display: block;
}

.hidding {
    display: none;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#loadMore {    
    border: none;
    border-radius: 50%;
    background-color: #fcfcfc;
}

#loadMore img {
    width: 4vw;
    height: 4vw;
}